.container{
    max-width: 1158px;
    padding: 0 15px;
}

.gallery{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.gallery-item{
    box-sizing: border-box;
    width: 360px;
    height: 200px;
}